services:
    solr:
        image: movie-locations-solr:latest
        ports:
            - "8983:8983"
        environment:
            - SOLR_MODULES=clustering
            - SOLR_OPTS=-Dsolr.clustering.enabled=true
        volumes:
            - solr_data:/var/solr
            # Mount solrconfig.xml from the deployment path into the configset used by the core
            - ./solrconfig.xml:/opt/solr/server/solr/configsets/movies/conf/solrconfig.xml:ro
        command: ["solr-precreate", "movies", "movies"]

volumes:
    solr_data:
