version: '3'
services:
  solr:
    image: solr:latest
    ports:
      - "8983:8983"
    environment:
      - SOLR_MODULES=clustering
    volumes:
      - solr_data:/var/solr
    command: [ "solr-precreate", "movies" ]

volumes:
  solr_data:
