version: '3'
services:
  solr:
    image: solr:latest
    ports:
      - "8983:8983"
    environment:
      - SOLR_MODULES=clustering
    volumes:
      - solr_data:/var/solr
      - ./solr-lib:/var/solr/data/movies/lib
    command: [ "solr-precreate", "movies", "-Dsolr.modules=clustering", "-Dsolr.clustering.enabled=true" ]

volumes:
  solr_data:
