services:
    solr:
        image: solr:latest
        ports:
            - "8983:8983"
        environment:
            - SOLR_MODULES=clustering
            - SOLR_OPTS=-Dsolr.clustering.enabled=true
        volumes:
            - solr_data:/var/solr

        command: ["solr-precreate", "movies"]

volumes:
    solr_data:
