version: "3.8"
services:
    solr:
        build:
            context: ./deployment/solr
            dockerfile: Dockerfile
        container_name: solr
        ports:
            - "8983:8983"
        volumes:
            - solr_data:/var/solr
        environment:
            - SOLR_HOME=/var/solr/data
        command: solr-precreate movies /opt/solr/server/solr/configsets/movies
volumes:
    solr_data:
